@tailwind base;
@tailwind components;
@tailwind utilities;

.center-child {
    @apply flex justify-center items-center;
}

@font-face {
    font-family: 'RedHatDisplay';
    src: url('/fonts/RedHatDisplay/RedHatDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RedHatDisplay';
    src: url('/fonts/RedHatDisplay/RedHatDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}