---
import AboutUs from '../blocks/AboutUsBlock.astro';
import Artists from '../blocks/ArtistsBlock.astro';
import News from '../blocks/NewsBlock.astro';
import Activities from '../blocks/ActivitiesBlock.astro';
import Contact from '../blocks/ContactBlock.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout
	title="Les Ecorcés"
	description='Les Ecorcés, troupe de théâtre Improvisé'
>
	<main class="bg-black text-white">
		<AboutUs />
		<News />
		<Artists />
		<Activities />
		<Contact />
	</main>
</Layout>
